{% set page_group = "osi" %}
<!DOCTYPE html>
<html lang="en">
{% include 'components/head.html' %}
  
<body>
    <div id="wrapper">
        {% include 'components/nav-account.html' %}
        <div id="page-wrapper">
            {% include 'components/alerts.html' %}

 
         
            <!-- /.row -->
                 

            <div class="container-fluid">   
      {% block content %}{% include 'components/o.html' %}{% endblock %}
          
             
                
            </div>
            <!-- /.row -->
           
            {% include 'components/footer.html' %}    
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
</body>  
</html>